* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --centered: center;
    --flexbox: flex;
}

body {
    background-color: whitesmoke;
    width: 100%;
}