footer {
    align-items: var(--centered);
    background-color: blanchedalmond;
    display: var(--flexbox);
    height: 10vh;
    justify-content: var(--centered);
}

footer p {
    color: black;
    font-size: 18px;
    font-weight: bold;
}