:root {
    --flexbox: flex;
}

nav {
    margin-top: 3vh;
    margin-bottom: 2vh;
}

ul {
    display: var(--flexbox);
    gap: 10px;
    margin-right: 1vw;
}

li {
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    list-style: none;
    padding: 8px;
    text-align: center;
    transition: background-color 1s;
    width: 5vw;
}

li:nth-child(1) {
    margin: 0 auto 0 2vw;
}

li:hover {
    background-color: red;
    font-weight: bold
}

li:active {
    opacity: 0.6;
}