header {
    padding-top: 2vh;
    padding-bottom: 2vh;
    position: sticky;
    top: 0px;
}

nav ul {
    align-items: center;
    display: var(--flexbox);
    gap: 10px;
    justify-content: space-between;
    margin-right: 1vw;
}

nav li {
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    list-style: none;
    padding: 8px;
    transition: background-color 1s;
}

nav li:nth-child(1) {
    margin: 0 auto 0 2vw;
}

nav li:hover {
    background-color: red;
    font-weight: bold;
}

nav li:active {
    opacity: 0.6;
}