* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --centered: center;
    --flexbox: flex;
}

body {
    background-color: rgb(45, 45, 45);
    width: 100%;
}

.title-container,
.profile-container,
.projects-container,
.contact-container {
    align-items: var(--centered);
    display: var(--flexbox);
    flex-direction: column;
    margin-bottom: 10vh;
    width: 50vw;
}

aside {
    position: fixed;
}

.image-container {
    width: 20vw;
}

main {
    align-items: var(--centered);
    display: var(--flexbox);
    flex-direction: column;
    padding: 20px;
}

h1, p {
    color: white;
}

a {
    color: white;
}

a:hover {
    color: lightblue;
}