:root {
    --flexbox: flex;
}

ul {
    display: var(--flexbox);
}

li {
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    list-style: none;
    margin-right: 18px;
    margin-top: 18px;
    padding: 10px;
    text-align: center;
    transition: background-color 1s;
    width: 5vw;
}

li:nth-child(1) {
    margin: 18px auto 0 3vw;
}

li:nth-child(3) {
    width: 6vw;
}

li:hover {
    background-color: red;
    font-weight: bold
}

li:active {
    opacity: 0.6;
}