* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --flexbox: flex;
    --centered: center;
}

body {
    background-color: orange;
    width: 100%;
}

main {
    display: var(--flexbox);
    justify-content: var(--centered);
    padding: 20px;
}

.title-container {
    align-items: var(--centered);
    display: var(--flexbox);
    flex-direction: column;
    width: 50vw;
}